*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.all-content{
  background: white;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: #FCE7CC;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}
.logo{
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
  font-size: 36px;
}

.logo span{
  color: #823b0b;
}
/* navbar */
#navbar{
  background-color: #b2744c;
  font-family: system-ui;
  font-size: x-large;
  font-family: system-ui;
  
}
#logo img{
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}
.navbar-nav{
  margin-left: 50px;
}
.nav-item .nav-link{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background: #823b0b;
  border-radius: 5px;
  color: white;
}
#navbar form button{
    font-size: large;
    font-weight: bold;
    background: black;
    color: white;
    border: 1px solid white;
}

/* navbar */


/* footer */
#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 60px;
  }
  #footer .socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .credite{
    color: white;
    margin-top: 20px;
  }
  .credite{
    text-shadow: 0px 0px 1px black;
  }
  .credite a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .credite a span{
    color: black;
  }
  .copyright span{
    color: black;
  }
  /* footer */
  html{
    scroll-behavior: smooth;
  }



